<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Example Fast</title>
	<style>
		:root{
			font-family: "Consolas"
		}
		*,::after,::before{
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}
		html,body{
			height: 100%;
			overflow: hidden;
		}
		body{
			display:flex;
			justify-content: center;
			align-items: center;
		}
	</style>
</head>
<body>
	<h1>Example Page</h1>
</body>
</html>